/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    max-width: 100%;
    margin: 50px auto;
    text-align: center;
    padding: 0 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #ffd700; /* Golden yellow */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
}

.countdown-section {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5); /* Golden shadow */
    margin-bottom: 30px;
}

#countdown {
    font-size: 1.5rem;
}

.options {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #ffd700; /* Golden yellow */
    color: #000; /* Black text */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e6ac00; /* Darker shade of golden yellow on hover */
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('theme.jpg'); /* Background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    opacity: 0.5; /* Adjust opacity */
    z-index: -1; /* Behind other elements */
}
