/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fallback color */
    background-image: url('theme.jpg'); /* Background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    color: #fff;
}

.container {
    max-width: 100%;
    margin: 50px auto;
    text-align: center;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffd700;
}

#countdown {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffd700;
    color: #000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6ac00;
}
