body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fallback color */
    background-image: url('pi.ico'); /* Background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffd700; /* Gold color */
}

.token-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token-list a {
    display: block;
    padding: 20px; /* Increase padding for larger clickable area */
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #ffd700; /* Gold color */
    color: #000; /* Black color */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.token-list a:hover {
    background-color: #e6ac00; /* Darker gold color on hover */
}

/* Style for larger icons */
.token-list a i {
    margin-right: 20px; /* Adjust spacing between icon and text */
    font-size: 2.5rem; /* Increase icon size */
}
 