body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fallback color */
    background-image: url('theme.jpg'); /* Background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffd700; /* Gold color */
}

.token-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token-list a {
    display: flex; /* Change to flex to align icon and text horizontally */
    align-items: center; /* Center items vertically */
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #ffd700; /* Gold color */
    color: #000; /* Black color */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.token-list a:hover {
    background-color: #e6ac00; /* Darker gold color on hover */
}

.token-icon {
    margin-left: 10px; /* Adjust spacing between icon and text */
    width: 20px; /* Set width of the icon */
    height: 20px; /* Set height of the icon */
    background-repeat: no-repeat; /* Prevent icon from repeating */
    background-size: contain; /* Fit icon within its container */
}

/* Set icon background images for each token */
.token-name.Pi + .token-icon {
    background-image: url('pi.ico'); /* Set background image for Pi token */
}

.token-name.Zap-Clash + .token-icon {
    background-image: url('Zap-Clash-logo.jpg'); /* Set background image for Zap Clash token */
}

.token-name.Spot-Shot + .token-icon {
    background-image: url('spot-shot-icon.jpg'); /* Set background image for Spot Shot token */
}

.token-name.Kena-Ai + .token-icon {
    background-image: url('kena.jpg'); /* Set background image for Kena.Ai token */
}

.token-name.Anonymous + .token-icon {
    background-image: url('Anonymous-logo.jpg'); /* Set background image for Anonymous token */
}

.token-name.Bitfinder + .token-icon {
    background-image: url('bitfinder-icon.jpg'); /* Set background image for Bitfinder token */
}
