body {
  background-color: white; /* Add this line */
}

.comment-box {
  border: 2px solid orange;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #FFA500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 80%;
  height: 180px;
  margin-bottom: 10px;
  border: 1px solid #FFA500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #ffffff;
  color: #76348e;
  padding: 15px 50px;
  border: 2px solid #76348e;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}

.bone {
  background-color: #76348e;
  color: #ffffff;
  padding: 10px 40px;
  border: 2px solid #76348e;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}

.txt {
  font-family: "Helvetica", sans-serif;
}
